* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: gray;
    color: black;
    text-align: center;
}

nav {
    text-align: left;
    width: 100%;
    position: absolute;
    padding-left: 10px;
}

footer {
    color: white;
    text-align: center;
    position: initial;
    bottom: 0;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
}

h1 {
    color: yellow;
    text-align: center;
}

.box {
    width: 80%;
    border: 10px groove red;
    background-color: #CCC;
    margin-left: 160px;
    margin-right: auto;
}

.btn {
    font-size: 15px;
    width: 9.4%;
    border: 8px groove CornflowerBlue;
    background-color: lightcyan;
}