* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    color: yellow;
    text-align: center;
}

nav {
    text-align: left;
    width: 100%;
    position: absolute;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: gray;
    color: black;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    position: initial;
    bottom: 0;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
}

.box1 {
    width: 80%;
    border: 10px groove red;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
}

.btn1 {
    font-size: 15px;
    width: 9.4%;
    border: 8px groove CornflowerBlue;
    background-color: lightcyan;
}

.box2 {
    width: 25%;
    border: 10px groove green;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.box2text {
    padding-left: 25px;
    text-align: left;
}

.img1 {
    width: 40%;
    text-align: center;
}