* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page {
    background-color: gray;
}

.head {
    margin-bottom: 10px;
}

.nav {
    position: relative;
}

.btn {
    font-size: 15px;
    width: 9.4%;
    border: 8px groove CornflowerBlue;
    background-color: lightcyan;
    text-decoration: none;
    margin-left: 15px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn:hover {
    font-size: 15px;
    width: 9.4%;
    border: 8px groove red;
    background-color: lightcyan;
    text-decoration: none;
    margin-left: 15px;
    transition: 0.5s;
}

.main {
    margin-left: 0px;
}

.box {
    width: 80%;
    border: 10px groove red;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.linkContact:hover {
    color: cornflowerblue;
}

.article {
    text-align: center;
}

.foot {
    text-align: center;
}