body {               
	background-image: url("champ_cereale_ble_dur_0.jpg");  
	
}

.zizi{

	margin-top: 0px; 
	text-align: center; 
	font-family: arial; 
	text-shadow: 4px 4px 0px black; 
	font-size: 100px; 
	color: red; 
}

.chapitre1 
{
	



}