* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.box {
    width: 80%;
    border: 10px groove red;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-size: 15px;
    width: 9.4%;
    border: 8px groove CornflowerBlue;
    background-color: lightcyan;
}

.artcl {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.lgn1 {

}

.lgn2 {

}

.lgn3 {

}